.list-box {
  margin: 50px;
  padding: 20px;
  border: solid deepskyblue;
  box-sizing: border-box;
}
.list {
  padding: 20px;
  text-align: left;
  border: 1px solid grey;
}

.list:not(:last-child) {
  border-bottom: none;
}

.list-bottom {
  display: flex;
  justify-content: end;
}
